body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:88px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:88px;
}
#u1623 {
  position:absolute;
  left:2px;
  top:36px;
  width:1577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:655px;
}
#u1624 {
  position:absolute;
  left:0px;
  top:88px;
  width:187px;
  height:655px;
}
#u1625 {
  position:absolute;
  left:2px;
  top:320px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1626 {
  position:absolute;
  left:153px;
  top:391px;
  width:18px;
  height:20px;
}
#u1627 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4199F0;
}
#u1628 {
  position:absolute;
  left:0px;
  top:250px;
  width:186px;
  height:51px;
  font-size:12px;
  color:#4199F0;
}
#u1629 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1630 {
  position:absolute;
  left:24px;
  top:268px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1631 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1632 {
  position:absolute;
  left:153px;
  top:264px;
  width:18px;
  height:20px;
}
#u1633 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:293px;
}
#u1634 {
  position:absolute;
  left:0px;
  top:516px;
  width:188px;
  height:293px;
}
#u1635 {
  position:absolute;
  left:2px;
  top:138px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4199F0;
}
#u1636 {
  position:absolute;
  left:0px;
  top:465px;
  width:186px;
  height:51px;
  font-size:12px;
  color:#4199F0;
}
#u1637 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4199F0;
}
#u1638 {
  position:absolute;
  left:25px;
  top:481px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4199F0;
}
#u1639 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1640 {
  position:absolute;
  left:153px;
  top:479px;
  width:18px;
  height:20px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 246, 246, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1642 {
  position:absolute;
  left:188px;
  top:467px;
  width:159px;
  height:83px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1644 {
  position:absolute;
  left:218px;
  top:480px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:43px;
  background:inherit;
  background-color:rgba(236, 246, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 246, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4199F0;
}
#u1646 {
  position:absolute;
  left:188px;
  top:507px;
  width:159px;
  height:43px;
  font-size:12px;
  color:#4199F0;
}
#u1647 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4199F0;
}
#u1648 {
  position:absolute;
  left:218px;
  top:523px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4199F0;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
