body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:88px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:88px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:36px;
  width:1577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:655px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:88px;
  width:187px;
  height:655px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:320px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2024 {
  position:absolute;
  left:153px;
  top:391px;
  width:18px;
  height:20px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4199F0;
}
#u2026 {
  position:absolute;
  left:0px;
  top:250px;
  width:186px;
  height:51px;
  font-size:12px;
  color:#4199F0;
}
#u2027 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2028 {
  position:absolute;
  left:24px;
  top:268px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2030 {
  position:absolute;
  left:153px;
  top:264px;
  width:18px;
  height:20px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:293px;
}
#u2032 {
  position:absolute;
  left:0px;
  top:516px;
  width:188px;
  height:293px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:138px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4199F0;
}
#u2034 {
  position:absolute;
  left:0px;
  top:465px;
  width:186px;
  height:51px;
  font-size:12px;
  color:#4199F0;
}
#u2035 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4199F0;
}
#u2036 {
  position:absolute;
  left:25px;
  top:481px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4199F0;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2038 {
  position:absolute;
  left:153px;
  top:479px;
  width:18px;
  height:20px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#ADADAD;
}
#u2040 {
  position:absolute;
  left:228px;
  top:107px;
  width:61px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#ADADAD;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2042 {
  position:absolute;
  left:228px;
  top:160px;
  width:88px;
  height:28px;
  text-align:left;
}
#u2043 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
}
#u2044 {
  position:absolute;
  left:332px;
  top:158px;
  width:196px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2045 {
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2046 {
  position:absolute;
  left:228px;
  top:231px;
  width:66px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2048 {
  position:absolute;
  left:602px;
  top:222px;
  width:196px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2049 {
  position:absolute;
  left:2px;
  top:10px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u2050 {
  position:absolute;
  left:548px;
  top:243px;
  width:36px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2052 {
  position:absolute;
  left:498px;
  top:232px;
  width:24px;
  height:24px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2054 {
  position:absolute;
  left:332px;
  top:223px;
  width:196px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2055 {
  position:absolute;
  left:2px;
  top:10px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2056 {
  position:absolute;
  left:768px;
  top:230px;
  width:24px;
  height:24px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:31px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2058 {
  position:absolute;
  left:1080px;
  top:229px;
  width:58px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2059 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:46px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 247, 247, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:215px;
  top:366px;
  width:1341px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2061 {
  position:absolute;
  left:2px;
  top:15px;
  width:1337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2062 {
  position:absolute;
  left:243px;
  top:382px;
  width:49px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2064 {
  position:absolute;
  left:412px;
  top:382px;
  width:49px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:2px;
}
#u2066 {
  position:absolute;
  left:215px;
  top:519px;
  width:1364px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:2px;
}
#u2068 {
  position:absolute;
  left:215px;
  top:467px;
  width:1341px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2070 {
  position:absolute;
  left:241px;
  top:433px;
  width:13px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u2072 {
  position:absolute;
  left:418px;
  top:431px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2074 {
  position:absolute;
  left:522px;
  top:380px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u2076 {
  position:absolute;
  left:524px;
  top:429px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2078 {
  position:absolute;
  left:618px;
  top:381px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2080 {
  position:absolute;
  left:780px;
  top:382px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2082 {
  position:absolute;
  left:618px;
  top:431px;
  width:118px;
  height:22px;
  font-size:12px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#108EE9;
}
#u2084 {
  position:absolute;
  left:1474px;
  top:428px;
  width:78px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#108EE9;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:2px;
}
#u2086 {
  position:absolute;
  left:215px;
  top:574px;
  width:1354px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u2088 {
  position:absolute;
  left:241px;
  top:432px;
  width:89px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2090 {
  position:absolute;
  left:926px;
  top:382px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u2092 {
  position:absolute;
  left:792px;
  top:429px;
  width:25px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u2094 {
  position:absolute;
  left:926px;
  top:429px;
  width:25px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2096 {
  position:absolute;
  left:1103px;
  top:380px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2098 {
  position:absolute;
  left:1103px;
  top:431px;
  width:97px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2100 {
  position:absolute;
  left:569px;
  top:157px;
  width:88px;
  height:28px;
  text-align:left;
}
#u2101 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2102 {
  position:absolute;
  left:630px;
  top:158px;
  width:132px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2103 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2104 {
  position:absolute;
  left:734px;
  top:165px;
  width:21px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2105 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:31px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2106 {
  position:absolute;
  left:231px;
  top:314px;
  width:58px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2107 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2108 {
  position:absolute;
  left:801px;
  top:157px;
  width:88px;
  height:28px;
  text-align:left;
}
#u2109 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
}
#u2110 {
  position:absolute;
  left:867px;
  top:155px;
  width:116px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2111 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2112 {
  position:absolute;
  left:1002px;
  top:155px;
  width:88px;
  height:28px;
  text-align:left;
}
#u2113 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:33px;
}
#u2114 {
  position:absolute;
  left:1068px;
  top:153px;
  width:153px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2115 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
